# Version: nano 4.8
# Syntax highlights (path might be different)
include /usr/share/nano/*

# Options
set tabsize 4
set linenumbers
set numbercolor yellow,normal
set morespace   # prevent adding a blank line under title
set suspend     # allow nano be suspended
set smarthome   # home jumps to line start first
#set wordbounds  # treat punctuations as words


#####  Modern Nano Keybindings  #####
## M-U   undo
## M-R   redo
## ^-C   copy
## ^-X   cut
## ^-V   paste
## ^-K   delete line
## ^-back   delete until word start
## ^-del    delete until next word
## ^-L   refresh
## ^-S   save file
## M-/   comment/uncomment
## M-V   insert keystroke verbatim
## M-:   record macro
## M-;   play macro

## M-C   cursor position
## ^-W   search forward (= M-W + prompt)
## ^-E   seach backwards (= M-E + prompt)
## ^-up  goto previous block
## ^-dn  goto next block
## M-(   goto block begin
## M-)   goto block end
## ^_    goto line/coloumn number
## ^-G   head of file (vim-like)
## M-G   end of file
## M-up  screen up one line
## M-dn  screen down one line
## M-]   goto matching bracket

unbind ^Y main  # remove unused bindings
unbind ^A main
unbind M-Q all

bind M-R  redo   main
bind ^C	  copy   main
bind ^X   cut    main
bind ^V   paste  main
bind ^K   zap    main
bind ^H   chopwordleft all
bind ^Q   exit   all
bind M-/  comment main

bind M-C  curpos	      main
bind ^E   wherewas     all
bind M-E  findprevious all
bind ^B   pageup       all  # vim-like support
bind ^F   pagedown     all
bind ^G   firstline    all
bind M-G  lastline     all
bind M-F  constantshow main  # fix M-C been used
